
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#eef4ff;
padding:40px;
}

.container{
max-width:850px;
margin:auto;
background:rgb(170, 193, 227);
padding:35px;
border-radius:18px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}
.container:hover{
    transform: translateY(-8px);
    transition: 0.8s;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
  
}

h1{
text-align:center;
color:#2563eb;
margin-bottom:8px;
}

h2{
text-align:center;
color:#666;
margin-bottom:30px;
}

label{
display:block;
margin-bottom:8px;
margin-top:15px;
font-weight:bold;
}

input,
textarea{
width:100%;
padding:14px;
border:2px solid #c4cfe2;
border-radius:10px;
font-size:15px;
margin-bottom:15px;
outline:none;
}

input:focus,
textarea:focus{
border-color:#2563eb;
}

textarea{
height:130px;

}
input:hover,textarea:hover{
   background-color: rgb(214, 238, 248);
       box-shadow:0 4px 12px rgba(0,0,0,.08);
    transform: translateY(-5px);
    transition: 0.8s;

}

#addBtn{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
font-size:16px;
}

#addBtn:hover{
background:#32426d;
 box-shadow:0 4px 12px rgba(0,0,0,.08);
    transform: translateY(-5px);
    transition: 0.8s;
}

#notesBox{
margin-top:30px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#ffffff;
padding:20px;
border-radius:15px;
box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.card:hover{
    background-color: rgb(214, 238, 248);
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    transform: translateY(-5px);
    transition: 0.8s;
}
.card h3{
color:#2563eb;
margin-bottom:10px;
}

.card p{
color:#555;
margin-bottom:20px;
line-height:1.5;
}

.edit,
.remove{
border:none;
padding:10px 14px;
border-radius:8px;
color:white;
}

.edit{
background:#22c55e;
margin-right:10px;
}

.remove{
background:#ef4444;
}

@media(max-width:600px){

body{
padding:15px;
}

.container{
padding:20px;
}

}

