*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;


background:
linear-gradient(
135deg,
#9ba7c4,

#afc6d0
);

}

.container{
width:100%;
max-width:360px;
padding:28px;
border-radius:24px;
background-color: skyblue;
border:1px solid rgba(255,255,255,.2);
box-shadow:0 20px 50px rgba(0,0,0,.25);
text-align:center;
color:white;
}



h1{
font-size:32px;
margin-bottom:18px;
font-weight:700;
}


input{
width:100%;
padding:14px;
border:none;
outline:none;
border-radius:14px;
margin-bottom:12px;
background:
rgba(255,255,255,.18);
color:white;
font-size:15px;

}


button{
width:100%;
padding:14px;
border:none;
border-radius:14px;
font-size:15px;
font-weight:bold;
cursor:pointer;
background:
linear-gradient(
135deg,
#60a5fa,
#a855f7
);

color:white;
transition:.3s;
}

button:hover{
transform:translateY(-2px);
box-shadow:
0 10px 25px
rgba(96,165,250,.4);

}



#loading{
display:none;

margin-top:12px;
font-size:14px;
color:#dbeafe;

}



#error{
margin-top:10px;
font-size:13px;
color:#ffd6d6;
}



#weather{
margin-top:18px;
padding:18px;
border-radius:18px;
background:
linear-gradient(
145deg,
rgba(255,255,255,.15),
rgba(255,255,255,.08)
);

border:
1px solid rgba(255,255,255,.15);
box-shadow:
0 10px 25px rgba(0,0,0,.15);

}

#weather h2{
font-size:26px;
margin-bottom:10px;

}

#weather p{
font-size:16px;
margin:8px 0;
opacity:.95;

}



@media(max-width:480px){

.container{

padding:22px;

}

h1{

font-size:28px;

}

}