*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
background:#dbeafe;
font-family:Arial;
padding:20px;
}
.container{
max-width:900px;
margin:auto;
display:flex;
gap:20px;
flex-wrap:wrap;
background:rgb(136, 168, 202);
padding:20px;
border-radius:15px;

}

.left{
flex:1;
min-width:300px;
}

.right{
flex:1;
min-width:250px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid gray;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
cursor:pointer;
}

button:hover{
transform:scale(1.03);
transition:.3s;
}

.stats{
background:#e0f2fe;
padding:20px;
border-radius:10px;
line-height:2;
}

#result{
margin-top:20px;
padding:15px;
border-radius:10px;

}

#topperList{
    border: 2px solid skyblue;
    margin-top:10px;

}

@media(max-width:768px){
.container{
flex-direction:column;
}

}